body{
    background-color: #DEF5E5;
    color: #577D86;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    text-align: center;
}

a{
    text-decoration: none;
    color: #577D86;
    font-style: italic;
}

a:hover{
    color:darkslategray;
}

.intro{
    margin: 0px;
    position: relative;
    top: 20px;
}
/* 16px = 100% = 1em */
/* rem doesnt get affected by root font changes */
.intro h1{
    margin: 2px auto 5px;
    width: 30%;
    font-size: 3rem;
}

.intro p{
    font-size: 1.5rem;
    margin-bottom: 0;
}

.cloud-img{
    width: 10%;
    height: 10%;
    filter: brightness(95%);
}

.top-cloud{
    position: relative;
    left: 15%;
}
.bottom-cloud{
    position: relative;
    right: 20%;
}

.mountain-img{
    width: 40%;
    height: 20%;
}

.avatar-img{
    width: 10%;
    height: 10%;
}

.skills{
    margin-top: 30px;
}

.skill-row{
    width: 50%;
    margin: 50px auto 50px;
    line-height: 2;
    text-align: justify;
}


.webdev-img, .appdev-img{
    margin-top: 10px;
    width: 20%;
    float: left;
    margin-right: 30px;
    border-radius: 100%;
}


.databasedev-img{
    margin-top: 10px;
    width: 20%;
    height: 5%;
    float: right;
    margin-left: 30px;
}

.hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    color: #8EC3B0;
    width: 5%;
    margin: 30px auto 30px;
}

.footer-img{
    width: 2%;
    height: 2%;
    margin-left: 5px;
    margin-right: 5px;
}

.bottom-container{
    padding-top: 20px;
    background-color: #8EC3B0;
}

.bottom-container p{
    margin-bottom: 0;
    padding-bottom: 5px;
}

.contact-me{
    line-height: 2;
}

.btn{
    background: #8EC3B0;
    background-image: -webkit-linear-gradient(top, #8EC3B0, #8EC3B0);
    background-image: -moz-linear-gradient(top, #8EC3B0, #8EC3B0);
    background-image: -ms-linear-gradient(top, #8EC3B0, #8EC3B0);
    background-image: -o-linear-gradient(top, #8EC3B0, #8EC3B0);
    background-image: linear-gradient(to bottom, #8EC3B0, #8EC3B0);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

@media (min-width: 280px){
    .intro h1{
        font-size: 200%;
    }

    .profile p{
        padding: 10px;
    }
}